@import 'colors';

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Medium.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    color: $white;
    font-family: 'Poppins', sans-serif;
}

#preloader{
    background: $black url('../img/preloader.gif') no-repeat center;
    background-size: 7%;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    margin: 0 !important;
    padding: 0 !important;
}

.background{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.center-content{
    justify-content: center;
    align-items: center;
}

.center-content-vertical{
    align-items: center;
}

.center-text{
    text-align: center;
}

.horizontal-center{
    margin-left: auto;
    margin-right: auto;
}

.margin-bottom{
    margin-bottom: 2em;
}

.padding-top{
    padding-top: 5em;
}

.padding-top-large{
    padding-top: 10em;
}