@media (max-width: 40em) {
  nav {
    position: static !important;
    display: flex;
    flex-direction: column;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  nav h1 {
    text-align: center;
    margin-bottom: 2em;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  #preloader {
    background-size: 15% !important;
  }
  #home {
    flex-direction: column;
    text-align: center;
  }
  .profile-picture {
    margin-right: 0 !important;
    margin: 0 0 2em 0 !important;
  }
  .over-article {
    flex-direction: column;
    margin: 1em;
  }
  .over-article img {
    margin: 2em 0 2em 0 !important;
  }
  .card {
    width: 80% !important;
  }
  .grid-container {
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .skills-img {
    width: 100% !important;
  }
  .timeline .checkpoint {
    width: 90%;
    transform: none !important;
    padding-left: 1em !important;
    padding-right: 1em;
    border: none !important;
  }
}
@media (max-width: 70em) {
  .timeline .checkpoint {
    width: 90%;
    transform: none !important;
    padding-left: 1em !important;
    padding-right: 1em;
    border: none !important;
  }
  .profile-picture {
    margin-left: 2em;
  }
  .over-article div {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}
.text-green {
  color: rgb(104, 205, 104);
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Poppins", sans-serif;
}

#preloader {
  background: black url("../img/preloader.gif") no-repeat center;
  background-size: 7%;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 100;
  margin: 0 !important;
  padding: 0 !important;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.center-content-vertical {
  align-items: center;
}

.center-text {
  text-align: center;
}

.horizontal-center {
  margin-left: auto;
  margin-right: auto;
}

.margin-bottom {
  margin-bottom: 2em;
}

.padding-top {
  padding-top: 5em;
}

.padding-top-large {
  padding-top: 10em;
}

nav {
  position: fixed;
  top: 0;
  justify-content: space-between;
  width: 95%;
  padding: 1em 2em;
}
nav ul {
  list-style: none;
  gap: 3em;
}
nav ul a {
  text-decoration: none;
}
nav ul a:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.text-green {
  color: rgb(104, 205, 104);
}

main {
  margin-bottom: 10em;
}
main .profile-picture {
  width: 25%;
  min-width: 15em;
  padding: 0.5em;
  margin-right: 5em;
  border-radius: 50%;
  border: 0.5em solid rgb(104, 205, 104);
}
main .over-img {
  width: 15em;
  margin-right: 2.5em;
  margin-left: 1em;
  border-radius: 0.5em;
  box-shadow: 1em 1em rgb(104, 205, 104);
}
main .big-p {
  font-size: 1.5em;
}
main .big-h1 {
  font-size: 4em;
}
main .big-h2 {
  font-size: 3em;
}
main .over-article {
  max-width: 45em;
}
main article {
  margin-bottom: 10em;
  margin-left: auto;
  margin-right: auto;
}
main .card {
  width: 25%;
  min-width: 15em;
  padding: 0.8em;
  margin: 0.5em;
  background-color: rgb(40, 40, 40);
  border-radius: 0.5em;
}
main .card h3 {
  color: rgb(104, 205, 104);
  margin-bottom: 0.5em;
}
main .card:hover {
  transform: scale(1.05);
  transition: 0.5s;
}
main .cards-container {
  justify-content: center;
}
main .card-img {
  max-width: 100%;
  border-radius: 0.5em;
  margin-bottom: 1em;
}
main .skills-img {
  width: 35em;
}
main .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}
main .grid-item {
  background-color: rgb(40, 40, 40);
  padding: 1em;
  border-radius: 0.5em;
}
main .grid-icon {
  width: 2em;
  margin-right: 0.3em;
}
main .five-stars:hover {
  background-image: url("../img/5-stars.png");
  background-size: cover;
  background-position: center;
}
main .five-stars:hover p {
  color: rgba(255, 255, 255, 0);
}
main .four-stars:hover {
  background-image: url("../img/4-stars.png");
  background-size: cover;
  background-position: center;
}
main .four-stars:hover p {
  color: rgba(255, 255, 255, 0);
}
main .two-stars:hover {
  background-image: url("../img/2-stars.png");
  background-size: cover;
  background-position: center;
}
main .two-stars:hover p {
  color: rgba(255, 255, 255, 0);
}
main .one-star:hover {
  background-image: url("../img/1-star.png");
  background-size: cover;
  background-position: center;
}
main .one-star:hover p {
  color: rgba(255, 255, 255, 0);
}
main .timeline {
  margin: 5em auto;
  max-width: 35em;
}
main .checkpoint {
  max-width: 34em;
  padding-top: 2em;
  padding-bottom: 2em;
  position: relative;
}
main .checkpoint div {
  border: 2px solid rgb(104, 205, 104);
  border-radius: 0.5em;
  padding: 1.5em;
}
main .checkpoint:nth-child(odd) {
  border-left: 3px dashed rgb(104, 205, 104);
  padding-left: 3em;
  transform: translateX(17.4em);
}
main .checkpoint:nth-child(even) {
  border-right: 3px dashed rgb(104, 205, 104);
  padding-right: 3em;
  transform: translateX(-17.4em);
}

footer img {
  width: 3em;
  margin: 1em;
}
footer img:hover {
  transform: scale(1.3);
  transition: 0.3s;
}/*# sourceMappingURL=style.css.map */