@import 'colors';

main{
    margin-bottom: 10em;

    .profile-picture{
        width: 25%;
        min-width: 15em;
        padding: 0.5em;
        margin-right: 5em;
        border-radius: 50%;
        border: 0.5em solid $green;
    }

    .over-img{
        width: 15em;
        margin-right: 2.5em;
        margin-left: 1em;
        border-radius: 0.5em;
        box-shadow: 1em 1em $green;
    }

    .big-p{
        font-size: 1.5em;
    }

    .big-h1{
        font-size: 4em;
    }

    .big-h2{
        font-size: 3em;
    }

    .over-article{
        max-width: 45em;
    }

    article{
        margin-bottom: 10em;
        margin-left: auto;
        margin-right: auto;
    }

    .card{
        width: 25%;
        min-width: 15em;
        padding: 0.8em;
        margin: 0.5em;
        background-color: $darkgrey;
        border-radius: 0.5em;

        h3{
            color: $green;
            margin-bottom: 0.5em;
        }

        &:hover{
            transform: scale(1.05);
            transition: 0.5s;
        }
    }

    .cards-container{
        justify-content: center;
    }

    .card-img{
        max-width: 100%;
        border-radius: 0.5em;
        margin-bottom: 1em;
    }

    .skills-img{
        width: 35em;
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
    }

    .grid-item{
        background-color: $darkgrey;
        padding: 1em;
        border-radius: 0.5em;
    }

    .grid-icon{
        width: 2em;
        margin-right: 0.3em;
    }

    .five-stars{
        &:hover{
            p{
                color: rgba(255, 255, 255, 0);
            }
            background-image: url('../img/5-stars.png');
            background-size: cover;
            background-position: center;
        }
    }

    .four-stars{
        &:hover{
            p{
                color: rgba(255, 255, 255, 0);
            }
            background-image: url('../img/4-stars.png');
            background-size: cover;
            background-position: center;
        }
    }

    .two-stars{
        &:hover{
            p{
                color: rgba(255, 255, 255, 0);
            }
            background-image: url('../img/2-stars.png');
            background-size: cover;
            background-position: center;
        }
    }

    .one-star{
        &:hover{
            p{
                color: rgba(255, 255, 255, 0);
            }
            background-image: url('../img/1-star.png');
            background-size: cover;
            background-position: center;
        }
    }

    .timeline{
        margin: 5em auto;
        max-width: 35em;
    }

    .checkpoint{
        max-width: 34em;
        padding-top: 2em;
        padding-bottom: 2em;
        position: relative;
    }

    .checkpoint div {
        border: 2px solid $green;
        border-radius: 0.5em;
        padding: 1.5em;
    }

    .checkpoint:nth-child(odd){
        border-left: 3px dashed $green;
        padding-left: 3em;
        transform: translateX(17.4em);
    }

    .checkpoint:nth-child(even){
        border-right: 3px dashed $green;
        padding-right: 3em;
        transform: translateX(-17.4em);
    }
}